<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
                <nav class=" navbar-expand-lg navbar nav-bar">
                               
                              
                              
                                <div class="collapse navbar-collapse" id="navbarText">
                                  <ul class="navbar-nav mr-auto">
                                    <li class="nav-item active">
                                     <button (click)="openProfile()"  class="tab-btn" [ngClass]="{'selected-btn': selected==='profile'}">My Profile</button>
                                    </li>
                                    <li class="nav-item">
                                        <button (click)="openFriends()"class="tab-btn" [ngClass]="{'selected-btn': selected==='friends'}">Friends</button>
                                    </li>
                                    <li>
                                        <button (click)="openGroups()" class="tab-btn" [ngClass]="{'selected-btn': selected==='groups'}">Groups</button>
                                    </li>
                                    <li>
                                        <button (click)="openGraphs()" class="tab-btn"[ngClass]="{'selected-btn': selected==='graphs'}">Stats</button>
                                    </li>
                                    <li>
                                        <button (click)="openDebug()" class="tab-btn last-btn" [ngClass]="{'selected-btn': selected==='debug'}">Debug</button>
                                    </li>
                                    <li>
                                        <button (click)="signOut()" class="tab-btn sign-out-btn">Sign Out</button>
                                    </li>
                                 <li>
                                  
                                 </li>
                                  </ul>
                                
                                </div>

                              </nav>
                            
                              <i (click)="signOut()" class="fas fa-sign-out-alt mobile-sign-out"></i>
                              <app-mobile-drawer></app-mobile-drawer>