
.nav-bar{
    background-color: #ffffff;
    position: fixed;
    color: black;
    top: 5%;
    left:5%;
    height: 70px;
    width: 90%;
  }


  .selected-btn{
    font-size: 18px;
    
  }
  .navbar-brand{
  height: 100px;
  width: 10%;
  }

  .tab-btn{
    padding-left: 20px;
    background-color: rgba(0, 0, 0, 0);
    color: black;
    border: 1px rgba(0,0,0,0) solid;
    border-right-color: grey;
    padding-right: 20px;
    font-family: "Raleway", sans-serif;
  }
  .tab-btn:hover{
    background-color:rgba(221, 223, 223, 0.54);

  }
  
  .last-btn{
    border: 1px rgba(0,0,0,0) solid;
  }
  .sign-out-btn{
  border: black;
  float: right;
  right: 50px; 
  position: absolute;
  }