@media only screen and (max-width: 600px) {
.nav-bar{
top : 0 !important;
width: 100% !important;
margin-left: 0 !important;
left : 0 !important;
max-height: 55px;
}
.mobile-sign-out{
  position: absolute !important;
  font-size: 20px;
  display: table !important;
  top:25px;
  right: 15px;
  cursor: pointer;
}
}
.mobile-sign-out{
  display: none;
}
.nav-bar{
    background-color: #ffffff;
    position: fixed;
    color: black;
    top: 15%;
    left:5%;
    height: 70px;
    width: 90%;
  }

  .selected-btn{
    font-size: 18px;
    font-weight: bold;
  }

  .tab-btn{
    padding-left: 20px;
    background-color: rgba(0, 0, 0, 0);
    color: black;
    border: 1px rgba(0,0,0,0) solid;
    border-right-color: grey;
    padding-right: 20px;
  }
  
  .last-btn{
    border: 1px rgba(0,0,0,0) solid;
  }
  .sign-out-btn{
  border: black;
  float: right;
  right: 50px; 
  position: absolute;
  }