<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="card-wrapper">
    <div class='date-div'>
        {{date}}
      </div>
        <img src={{image}} class="image" >
        <div class="card-body">
          
            <div class='details-div'>
                <div>
          <h4 class="title">{{itemName}} </h4>
          <p class='price' >{{price}} {{currency}}</p>
         
          <span class="card__by">Added by <a href="#" class="card__author" title="author">{{paidBy}}</a></span>
        </div>
        <div style='margin-left:30px; margin-top: 10px'>
          <app-tool-tip  [splitArray]='splitArray' [total]='totalPrice'></app-tool-tip>
        </div>
        <button class="delete-btn w3-xlarge"  (click)="this.userService.deleteItem(dataService.groupId,id)" > <i class="fa fa-trash "> </i> </button>
        </div>
        </div>
      </div>

