.wrapper{
    width: 800px;
    height: 50px;
    border-radius: 15px;
    text-align: center;
    position: relative;
    display: flex;
}
h3{
    color: white;
    width: 30%;
    display: inline-block;
    margin-right: 30px;
  
    
}