.wrapper{
    width: 800px;
    height: 50px;
    border-radius: 15px;
    text-align: center;
    position: relative;
    display: flex;
}
h3{
    color: white;
    width: 30%;
    display: inline-block;
    margin-right: 30px;
  
}
.mobile-btns{
    display: none;
}
@media only screen and (max-width: 600px) {
.wrapper{
    width: 100% !important;
    justify-content: space-between;    
    margin-top: -20px;
}

h3{
    font-size: 15px;
    margin-right: 0%;
    margin: auto;
}

}