
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div *ngIf="this.dataService.addMembers" style="position: absolute; left: 40%; margin-top: 30%; margin-left: '-200px' ;">
    <app-add-members [groupId]='groupDetails.groupId' [newUser]="true" ></app-add-members>
    </div>
<div class="main-wrapper"> 
    <app-groups (groupListener)='changeGroup($event)' class='app-groups'></app-groups>
<div class="header">
        <img class="profile-image" src={{groupDetails.groupImage}}/>
        <div class='details-wrapper'>
            <h1 class='group-name'> {{groupDetails.groupName}}</h1>
            <div class='group-details'>
            <app-group-details    [youOwe]='youOwe' [totalMembers]='groupMembers.length' [oweMe]='oweMe' ></app-group-details>
            <div class='add-item-img' (click)="openAddItem()" > <i  style='font-size: 50px;margin-top:3px;'class="fas fa-plus"></i></div> 
            <div class='mobile-btns'>
             
            <button type="button" style='width: 33%' class="btn button btn-success">Groups</button>
   
            <button type="button" style='width: 33%' class="btn button btn-secondary">Add Item</button>
        
            <button type="button" style='width: 33%'class="btn button btn-primary">Group Members</button>
           
          </div>
          </div>
          </div>
       
</div>

<app-add-item (afterAdded)='afterAddItem()' *ngIf="this.dataService.hideOrShowAddItem" [groupMembers]='groupMembers' [groupId]='groupDetails.groupId'></app-add-item>


<div class='content-wrapper'>
<div class='group-activity-wrapper'>
<div class='group-activity'> 
        <table class="table">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Activity</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">10/10/2019</th>
                    <td>Gal Added milk item</td>
                  </tr>
                </tbody>
              </table>
</div>

<div class="group-members" >
<div class="group-members-title"> <h3 class="members-title">Group Members:</h3>
   <button (click)="this.dataService.addMembers=!this.dataService.addMembers" style="background-color: transparent; margin-left: 100px; border: transparent;" ><i class="fa fa-user-plus" style="font-size:30px;"></i></button>
</div>

<div class="members-wrapper" >
    <div (mouseenter)='member.show=false' class='members-card' *ngFor='let member of groupMembers; let i=index' >
      <div >
        <img *ngIf='member.pic' class="member-image" src={{member.pic}}>
        <img *ngIf='!member.pic' class="member-image" src='https://res.cloudinary.com/dendjmf47/image/upload/v1573317700/holding_avatar.png'>
        <p class="member-name"> {{member.firstname + " "+ member.lastname}}   </p>
      </div>
      <p *ngIf='member.admin' class='is-admin'>Admin </p>
        <div  class="dropdown" >
          <button (click)='openFriendMenu(member.email)'  class="dropbtn"> <i class="fas fa-chevron-down"></i> </button> 
          <div *ngIf='checkIfMenu(member.email)' class="dropdown-content">
          <button (click)='closeMenu()' class='button-dropdown'>{{getAdminForButton(member.admin)}}</button>
          <button (click)='closeMenu(groupDetails.groupId,member.email)' class='button-dropdown' > Remove</button>
          </div>
        </div>
</div>
</div>
</div>
</div>
<div class="list-wrapper"> 
   
    <h1  *ngIf='!groupItems || groupItems.length === 0 '>There is no items in this group. </h1>
   
    <button type="button" (click)="openAddItem()" class="btn btn-primary" *ngIf="groupItems === undefined || !groupItems || groupItems.length === 0 ">add Items</button>
<div class="list" *ngFor="let item of groupItems">

    <dt *ngIf='item.newDate || groupItems.length===1 '  class="date-title">{{dateForTitle(item.date)}}  </dt>

    <app-item-card (afterDelete)="afterDelete()" (mouseenter)='deleteItem(item._id)' (mouseleave)="deleteItem(item._id)" *ngIf='!item.bills' [groupId]='groupDetails.groupId' [id]='item._id' [hover]='isHover' [date]='dateForItem(item.date)' [split]='item.split' [image]='item.pic' [itemName]='item.item' [itemId]='item._id' [currency]='item.currency' [price]='item.price' [paidBy]='item.buyerName'></app-item-card>


</div>
</div>
</div>
</div>
