
<h1>Graph</h1>
<div style='text-align: center; '>
  <div *ngIf='false' class='mat-elevation-z4' style='width: 49%; height: 300px; background-color: white; margin-left: 10%; margin-bottom: 20px '>
      <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col"> owe you</th>
              <th scope="col">you owe</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let owe of this.tableArr'>
              <td>{{owe.name}}</td>
              <td>{{owe.oweMe}}</td>
              <td>{{owe.youOwe}}</td>
            </tr>
          </tbody>
        </table>
  </div>
<div class='selectors'>
 <div class='inputs'></div>
  <div class="date-selections">
  <mat-form-field  >
    <input matInput [matDatepicker]="from" (dateChange)='onChange(event)' placeholder="From" [(ngModel)]='fromValue' [value]="fromValue">
    <mat-datepicker-toggle  matSuffix [for]="from"></mat-datepicker-toggle>
    <mat-datepicker  #from></mat-datepicker>
  </mat-form-field>

  <mat-form-field style="margin-left: 40px">
    <input matInput [matDatepicker]="until"  (dateChange)='onChange(event)' [(ngModel)]='untilValue' placeholder="Until" [value]="untilValue">
    <mat-datepicker-toggle matSuffix [for]="until"></mat-datepicker-toggle>
    <mat-datepicker #until></mat-datepicker>
  </mat-form-field>
</div>
</div>

<google-chart *ngIf='_reload'
  style='width: 90%; margin-left: 5%; margin-top: 30px; height: 500px; text-align: center; '
  [title]="chart.title"
  [type]="chart.type"
  [data]="data"
  [columnNames]="chart.columnNames"
  [width]='chart.width'
  [options]="chart.options">
</google-chart>
</div>