<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
</style>
<div class= "start">
        <header class="header-title" style="padding:50px 16px">
                <h1>Spend, Share, Save</h1>
                <h3 style="color: white;">If you want to save your money and be aware of your expenses use share it up</h3>
                <a href="http://localhost:4200/login">Start Now</a>

        </header>              
</div>
<div class="main flex color_first">
<div class="col">
<h2 class="pg">Do you share monthly expenses?</h2>
<p>
        You are tired of keeping track of your expenses un orderly?
</p>
<p>
        you are tired of running a household using excel tables?
</p>


</div>
<div class="col">
<img class="img" src="../../assets/images/expenses.jpg" alt="expenses">
</div>


</div>

<div class="main flex color_second">
        <div class="col">
        <img class="img" src="../../assets/images/shareMoney.jpg" alt="expenses">
        </div>
        <div class="col">
                <h2 class="pg">
                        Share-It-Up found the right solution for you
                </h2>
                <label class>
                        We are here to help you manage financially well to keep track of your expenses and manage your household with your 
                        life partners or roommates through expense sharing. Through our site you can create groups to share common expenses, 
                        see who has paid electricity, water or milk and manage correctly and be monitored.
                        
                </label>
                
                </div>
        
        </div>
        <div class="w3-row-padding w3-center" style="margin-top:64px">
                <div class="w3-quarter">
                  <i class="fa fa-desktop w3-margin-bottom w3-jumbo w3-center"></i>
                  <p class="w3-large">Responsive</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                </div>
                <div class="w3-quarter">
                  <i class="fa fa-heart w3-margin-bottom w3-jumbo"></i>
                  <p class="w3-large">Passion</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                </div>
                <div class="w3-quarter">
                  <i class="fa fa-diamond w3-margin-bottom w3-jumbo"></i>
                  <p class="w3-large">Design</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                </div>
                <div class="w3-quarter">
                  <i class="fa fa-cog w3-margin-bottom w3-jumbo"></i>
                  <p class="w3-large">Support</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                </div>
              </div>
        <!---
        <div class="w3-row-padding w3-margin-bottom">
                <div class="w3-quarter">
                  <div class="w3-container w3-red w3-padding-16">
                    <div class="w3-left"><i class="fa fa-comment w3-xxxlarge"></i></div>
                    <div class="w3-right">
                      <h3>52</h3>
                    </div>
                    <div class="w3-clear"></div>
                    <h4>Messages</h4>
                  </div>
                </div>
                <div class="w3-quarter">
                  <div class="w3-container w3-blue w3-padding-16">
                    <div class="w3-left"><i class="fa fa-eye w3-xxxlarge"></i></div>
                    <div class="w3-right">
                      <h3>99</h3>
                    </div>
                    <div class="w3-clear"></div>
                    <h4>Views</h4>
                  </div>
                </div>
                <div class="w3-quarter">
                  <div class="w3-container w3-teal w3-padding-16">
                    <div class="w3-left"><i class="fa fa-share-alt w3-xxxlarge"></i></div>
                    <div class="w3-right">
                      <h3>23</h3>
                    </div>
                    <div class="w3-clear"></div>
                    <h4>Shares</h4>
                  </div>
                </div>
                <div class="w3-quarter">
                  <div class="w3-container w3-orange w3-text-white w3-padding-16">
                    <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
                    <div class="w3-right">
                      <h3>50</h3>
                    </div>
                    <div class="w3-clear"></div>
                    <h4>Users</h4>
                  </div>
                </div>
              </div>
            -->