<div class='card-wrapper'>

<div class='mat-elevation-z4 card'>
    <h2 class='name'>Natali Aviv</h2>
    <hr  style='margin-top: -8px'/>
    <div class='details'>
    <div class='owe'>
    <h4>You Owe</h4>
    <p class='price'>100$</p>
    </div>
    <div class='owe'>
            <h4>Owe You</h4>
            <p class='price'>100$</p>
            </div>
    </div>
    <button type="button" class="btn btn-primary button"><p style='margin-top: -3px;'>Settle up</p> </button>
</div>

<div class='image-box'>
    <img class='image' src='https://res.cloudinary.com/dendjmf47/image/upload/v1573248613/wupmjdzcphmc7yx8gsh2.jpg' />
</div>

</div>