<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>

<div class="profilefulldiv">
    <div class="image-wrapper"> 
    <img class="profile-image" src={{registerService.userInfo.pic}}/> 
</div>
    <br/><br/><br/>
    <div class="details-wrapper">
<h2> <i class="fas fa-user">  </i> {{this.registerService.userInfo.firstname}}  {{this.registerService.userInfo.lastname}}</h2><br/>
<h2> <i class="fas fa-envelope"></i>  {{registerService.userInfo.email}} </h2><br/>
<h2> <i class="fas fa-phone"></i>  {{registerService.userInfo.phone}} </h2>
{{test}}
</div>
</div>
