

.logo{
  width: 110px;
  height: 100px;
  top : 10px;
  left:5%;
  position: absolute;
}

.app-background{
  background-color:#ffff;
  width:90%;
  margin-left: 5%;
  margin-top:calc(5% + 65px);
  overflow: auto;
  height: 80%;
}
.viewsRender{
  text-align: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color:#DEDFDF;
  align-items: center;
}