
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <head>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    </head>
  <input type="checkbox" id="tag-menu"/>
  <label class="fa fa-bars menu-bar" for="tag-menu"></label>
  <div class="drawer ss">
    <nav>
      <ul> 
        <br/>  <br/>  <br/>
        <li><a (click)='openProfile()'><i class="fas fa-user"></i>Profile</a></li>
        <li><a (click)='openFriends()'><i class="fas fa-users"></i>Friends</a></li>
        <li><a (click)='openGroups()'><i class="fas fa-layer-group"></i>Groups</a></li>
        <li><a (click)='openStats()'><i class="fas fa-chart-line"></i>Stats</a></li>
      </ul>
    </nav>
  </div>