<head>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>

<div class="profile-image-wrapper mat-elevation-z6">
<img *ngIf='registerService.userInfo.pic' class="profile-image" src={{registerService.userInfo.pic}}/>
<img *ngIf='!registerService.userInfo.pic' class="profile-image" src='https://res.cloudinary.com/dendjmf47/image/upload/v1573317700/holding_avatar.png'/>
<div class="topic-details">
<p class="Name">{{registerService.userInfo.firstname +" "+  registerService.userInfo.lastname}}</p>
<div class='details-div'>
<p class="details-item"><i class="fas fa-envelope"></i>{{" " +registerService.userInfo.email}}</p>
<p class="details-item"><i class="fas fa-phone"></i>{{" " +registerService.userInfo.phone}}</p>
</div>
<hr class='details-seperate' />
<div class='group-and-friends-wrapper'>
        <div class='group-det'>
<div class='groupandfriends none-mobile'>

        <p class='details-title '>Number of groups</p>
        <p class='details-number'>{{this.registerService.userInfo.groups.length}}</p>
</div>
<div class='groupandfriends none-mobile'>
                <p class='details-title '>Number of Friends</p>
                <p class='details-number'>{{this.registerService.userInfo.friends.length}}</p>
        </div>
        <div class='groupandfriends space'>
                        <p class='details-title'>Total Owe</p>
                        <p class='details-number'>{{getTotalOwe(false)}}</p>
                </div>
                
                <div class='groupandfriends'>
                                <p class='details-title'>Total owes</p>
                                <p class='details-number'>{{myOwes}}</p>
                        </div>
                </div>
</div>
</div>


</div>
<div class="wrap-content">

        <div class='box'>
                        <h2 class='friend-title'>Settle Up</h2>
                        <hr />
                        <div class='settle-box'>
                                <div *ngFor='let settle of settleArray '>
                                                <app-settle-up-card [name]='settle.name' [image]='settle.image' [youOwe]='settle.youOwe.toFixed(1)' [oweYou]='settle.oweMe.toFixed(1)'> </app-settle-up-card>
                                </div>
                                       
                               
                        </div>
        </div>

        <div class='groupFriendsBox'>
                   <div class='small-box'>
                                <h2 class='friend-title'>Friends</h2>
                                <hr />
                                <div class='friend-box'>
                    <div style='margin-right: 6px;' *ngFor='let friend of this.registerService.userInfo.friends'>
                         <app-friend-card [name]='friend.firstname +" " + friend.lastname'[image]='friend.pic'></app-friend-card>
                        </div>
                                </div>
                   </div>   
                   <br/>
                   <div class='small-box'>
                                <h2 class='friend-title'>Groups</h2>
                                <hr />
                                <div class='friend-box'>
                                                <div style='margin-right: 6px;' *ngFor='let group of groupsArray'>
                                                     <app-friend-card [name]='group[0].details.groupName'[image]='group[0].details.groupImage'></app-friend-card>
                                                    </div>
                        </div>  
        </div>
       

       
        </div>