.profile-image{
    background-color: rgb(203, 189, 189);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 2%;
    margin-left: 2%;
}
.details-seperate{
    width: 100%;
    border: 0.1mm solid rgb(196, 191, 191);
    
}
.Name{
    font-size: 33px;
    font-weight: bold;
    
}

.profile-image-wrapper{
    width:90%;
    margin-top:2%;
    margin-left: 5%;
    height: 320px;
    background-color: white;
    text-align: left;
    display: flex;
}
  .groupandfriends{
      margin-left:10%;
       text-align: center;
      margin-right: 5%;
  }
  
.wrap-content{
justify-content: center;
display: flex;
margin-left: 5%;
width: 90;
position: relative;
height: 500px;
overflow-x: auto;
margin-top: 20px;
justify-content: space-between;
 }

.groupFriendsBox{
	width: 50%;
	height: 80%;
	margin-right: 5%;
}
 .box{
    background-color: white;
	width: 45%;
	border-radius: 30px;
	height: 80%;
	margin-right: 5%;
 }
.friend-box{
	display: flex;
	margin-top: -10px;
	margin-left: 15px;
}

.settle-box{
	margin-top: -10px;
    margin-left: 5%;
    height: 300px;
	overflow-y: auto;
}
 .small-box{
	background-color: white;
	width: 100%;
	border-radius: 20px;
	height: 48%;
	
 }

 .group-and-friends-wrapper{
     display: flex;
 }


.groups-and-friends{
    height: 55%;
    width: 32%;
    position: absolute;
    margin: 3%;
    margin-left: 65%;
    background-color: white;
    text-align: left;
}

.personal-details-title{
margin: 3%;

font-style: oblique;
font-weight: 700;
}
.topic-details{
margin-top: 3%;
margin-left: 3%;
width: 60%;
}

.details-item{
    font-size: 25px;
}


.details-title{
    white-space: nowrap;
    font-size: 15px;
}
.details-number{
    margin-top:10px;
    font-size: 30px;
}

.friend-title{
	font-family: 'Courier New', Courier, monospace;
	font-weight: 400;
	margin-bottom: -10px;
	margin-top: 0px;
	color: grey;
}
