.profile-image{
    background-color: rgb(203, 189, 189);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 2%;
    margin-left: 2%;
}
.details-seperate{
    width: 100%;
    border: 0.1mm solid rgb(196, 191, 191);
    
}
.Name{
    font-size: 33px;
    font-weight: bold;
    
}

.profile-image-wrapper{
    width:90%;
    margin-top:2%;
    margin-left: 5%;
    height: 320px;
    background-color: white;
    text-align: left;
    display: flex;
}
  .groupandfriends{  
      text-align: center;
      margin-right: 15%;
  }
  
.wrap-content{
justify-content: center;
display: flex;
margin-left: 5%;
width: 90;
position: relative;
height: 500px;
overflow-x: auto;
margin-top: 20px;
justify-content: space-between;
 }

.groupFriendsBox{
	width: 42%;
	height: 80%;
	margin-right: 5%;
}
 .box{
    background-color: white;
	width: 50%;
	border-radius: 30px;
	height: 80%;
	margin-right: 5%;
 }
.friend-box{
	display: flex;
    margin-top: -10px;
    height: 220px;
    margin-left: 15px;
    overflow-x: auto;
    overflow-y: hidden;
}
    @media only screen and (max-width: 600px) {
        
/* For mobile phones: */
   .groupFriendsBox{
    width : 100%;
    }
    .box{
       display: none;
    }
     .profile-image{
         width: 100px;
         height: 100px;
     
     
     }
     .profile-image-wrapper{
        display: table;
        width: 90%;
        margin-top: 90px;
        text-align: center;
        margin-left: 5%;
     }
     .Name{
         font-size: 20px;
     }
     .group-and-friends-wrapper{
         display: none;
         margin-left: 0;
         width: auto;
         
         text-align: center;
        
        
     }
     .groupandfriends{
      margin-left: 0 !important;
     }
     .details-item{
         font-size: 15px !important;
         
     }
     .topic-details{
       
         width: 100% !important;
     }
     .details-div{
         width: 100%;
         text-align: start;
     }
  .none-mobile{
      display: none !important;
  }
  .space{
      margin-right: 60px;
      margin-left: 35px !important;
      
  }
  .details-title{
      font-size: 16px;
      font-weight: 600;
  }
.details-number{
    color: grey;
    font-size: 14px !important;
}
    }
     
.settle-box{
	margin-top: -10px;
    margin-left: 5%;
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}
 .small-box{
	background-color: white;
	width: 100%;
	border-radius: 20px;
	height: 48%;
	
 }

 .group-det{
     width: 50% !important;
     position: relative;
     display: flex;
     justify-items: space-between;
 }

 .group-and-friends-wrapper{
     display: flex;
     width: auto;
 }


.topic-details{
margin-top: 3%;
margin-left: 3%;
width: 60%;
margin-right: 30px;
}

.details-item{
    font-size: 25px;
}


.details-title{
    white-space: nowrap;
    font-size: 15px;
}
.details-number{
    margin-top:10px;
    font-size: 30px;
}

.friend-title{
	font-family: 'Courier New', Courier, monospace;
	font-weight: 400;
	margin-bottom: -10px;
	margin-top: 0px;
	color: grey;
}
