<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="app-tooltip">
        <button type="button"  class='icon' style='background-color: transparent; border-color: transparent; ' > <i class="fa fa-info-circle" style="font-size: 22px;color: black;text-align: end;"> </i> </button>
  <span class="app-tooltiptext">
      <p style='font-size: 20px;'>{{total}}</p>
      <div *ngFor='let split of splitArray'>
      <p >{{split}}</p>
    </div>
     
    </span>
</div>
